<div class="container-fluid">
  <header class="jumbotron my-4">
    <h1 class="display-3">Autocomplete</h1>
    <p class="lead font-italic">
      Utilize esse componente como um input onde o mesmo realiza uma busca
      interna (via backend) de dados pré gravados ou como select quando existir
      muitos dados .
   
    </p>

    <div class="alert alert-dark" role="alert">
      <small>
        Esse componente foi refeito pensando em melhor aplicação.
      </small>
    </div> 
  </header>
  <div class="row">
    <div class="col-12">
      <div class="card mb-3 bg-2">
        <div class="card-body">
          <div class="row top-title mt-4">
            <h2 class="text-uppercase title  pt-1  title-main ml-2 col-12">
              Componente em funcionamento
            </h2>
            <br />
            <p class="col-12 ml-2">
              Exemplo prático do componente em funcionamento.
            </p>
          </div>
          <div class="row  mt-2">
            <div class="col-md-12">
              <form class="example-form" 
                [formGroup]="form" (ngSubmit)="submit()">
                <shared-input-autocomplete formControlName="nome"
                  placeholder="ex: ana"
                  ngDefaultControl
                  [nameField] ="'Nome'"
                  [options]="nomesAuto$ | async">
                </shared-input-autocomplete>
                <shared-button [type]="'action'" [textButton]="'Enviar'" 
                  (click)="submitForm()" [size]="'lg'"  [icon]="'far fa-check-circle'" >
                </shared-button>
               
              </form>
          </div>
        </div>
        <div class="row  mt-2" [hidden]="!showResult">
          <div class="col-md-12">
             <p>Você selecionou:</p>
             <p class="font-bold">
               {{selectedItem}}
             </p>
        </div>
      </div>
        <div class="card code-box">
          <div class="row  m-2">
              <h3 class=" font-italic ml-4">Como Implementar?</h3>
              <div class="col-md-12 m-2">
                <p> Insira o módulo      </p>
                <pre> <code [highlight]="importModule"></code> </pre>
                <hr />
                <h2 class="title-2">instanciando o módulo:</h2>
                <pre><code [highlight]="codeModule"></code></pre>
             </div>
          </div>
          <div class="row  m-2">
            <div class="col-md-12 m-2">
              <h3 class=" font-italic">Implementando HTML</h3>
              <h5 class="title-2">
                Insira o código abaixo para inserir no HTML
              </h5>
              <pre><code [highlight]="codeAutoComplete"></code></pre>

            </div>
         
          </div>
          <div class="row  mt-2 m-2">
            <div class="col-md-12">
              <h2 class="text-uppercase title-2  pt-1  title-main">
                Exemplo Completo da implementação (Componente)
              </h2>
              <pre> <code [highlight]="codeComponentFull"></code>  </pre>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
